{%- comment -%}
  Include vars:
	title
    subtitle
    author
    date
{%- endcomment -%}

<header class="prose lg:prose-xl">
    <h1 class="" style="margin-top: 0; margin-bottom: 1rem;">{{- include.title -}}</h1>
    <h2 class="font-normal" style="margin-top: 0; margin-bottom: 1rem;">{{- include.subtitle -}}</h2>
    <h3 class="text-gray-500 font-light" style="margin-top: 0; margin-bottom: 2rem;"><time datetime="{{- include.date | date: '%Y-%m-%d' -}}">{{- include.date | date: '%B %d, %Y' -}}</time></h3>
</header>