{%- comment -%}
  Include vars:
	title
    subtitle
    author
    date
{%- endcomment -%}

<div class="hero">
    <div class="hero-body">
        <header>
            <h1 class="title blog-title">{{- include.title -}}</h1>
            <h2 class="subtitle blog-subtitle">{{- include.subtitle -}}</h2>
            <h2 class="subtitle blog-subtitle is-6">{% if include.author %}{{ include.author }} • {% endif %}<time datetime="{{- include.date | date: '%Y-%m-%d' -}}">{{- include.date | date: '%B %d, %Y' -}}</time></h3>
        </header>
    </div>
</div>