<!-- Header -->

{% comment %}
<!-- <div id="header">
    <div class="top">
        {%- include logo.html -%}
        {%- include nav.html -%}
    </div>
    <div class="bottom">
        {%- include social_icons.html -%}
    </div>
</div> -->
{% endcomment %}


    <a href="{{- '/' | absolute_url -}}" id="home-link"><h1>{{- site.title -}}</h1></a>
    <div class="level is-mobile">
        <div class="level-left">
            {%- include social_icons.html -%}
        </div>
    </div>
    <ul>
        <li><a href="{{- '/projects' | absolute_url -}}" id="home-link"><h1>Projects</h1></a></li>
        <li><a href="{{- '/blog' | absolute_url -}}" id="home-link"><h1>Blog</h1></a></li>
        <li><a href="{{- '/apps' | absolute_url -}}" id="home-link"><h1>Apps</h1></a></li>
    </ul>
