<!-- Hammer.js for menu gestures -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha256-eVNjHw5UeU0jUqPPpZHAkU1z4U+QFBBY488WvueTm88=" crossorigin="anonymous"></script>
<script>
    var sidebar = document.getElementById("sidebar");
    var mainContent = document.getElementById("main-content");
    var contentDarkening = document.getElementById("content-darkening");
    var toggleElems = [sidebar, mainContent, contentDarkening];

    var navbarButton = document.getElementById("navbar-hamburger");

    function toggleSidebar() {
        toggleElems.forEach(function(elem) {
            elem.classList.toggle("show-sidebar");
        });
    }

    function setSidebarOpen(active) {
        toggleElems.forEach(function(elem) {
            if (active) elem.classList.add("show-sidebar");
            else elem.classList.remove("show-sidebar");
        });
    }

    // Hook up gestures
    var mcNavbarButton = new Hammer(navbarButton);
    mcNavbarButton.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL });
    mcNavbarButton.on("swipeup swipedown", function(ev) {
        console.log(ev.type);
        setSidebarOpen(ev.type == "swipedown")
    });
    mcNavbarButton.on("tap press", function(ev) {
        console.log(ev.type);
        toggleSidebar();
    });

    var mcDarkening = new Hammer(contentDarkening);
    mcDarkening.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL });
    mcDarkening.on("swipeup swipedown", function(ev) {
        setSidebarOpen(ev.type == "swipedown")
    });
    mcDarkening.on("tap press", toggleSidebar);

    var mcSidebar = new Hammer(sidebar);
    mcSidebar.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL });
    mcSidebar.get('pan').set({ direction: Hammer.DIRECTION_VERTICAL });
    mcSidebar.on("swipeup swipedown panup pandown", function(ev) {
        setSidebarOpen(ev.type == "swipedown" || ev.type == "pandown")
    });

</script>


<script>
    // Load images late
    //https://www.sitepoint.com/five-techniques-lazy-load-images-website-performance/
    [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
        img.setAttribute('src', img.getAttribute('data-src'));
        img.onload = function() {
            img.removeAttribute('data-src');
        };
    });
</script>