<!-- Header -->

<nav id="sidebar" class="px-5 md:py-8 flex-shrink-0" aria-label="Main Navigation">
    <div class="flex flex-row flex-wrap md:flex-col text-center py-2 md:py-0 md:text-left prose lg:prose-xl text-brand">
        <a href="{{- '/' | relative_url -}}">About&nbsp;Me</a>
        <span class="md:hidden px-1">•</span>
        <a href="{{- '/blog' | relative_url -}}">Blog</a>
        <span class="md:hidden px-1">•</span>
        <a href="{{- '/projects' | relative_url -}}">Projects</a>
        <span class="md:hidden px-1">•</span>
        <a href="{{- '/apps' | relative_url -}}">Apps</a>
    </div>
</nav>
