<!-- Header -->

<nav id="sidebar" class="fixed left-0 top-0 md:relative w-full md:w-max md:px-5 md:py-8 flex-shrink-0" aria-label="Main Navigation">
    <div class="flex flex-col text-center py-2 md:py-0 md:text-left">
        <a href="{{- '/' | absolute_url -}}" id="home-link">About Me</a>

        <hr class="navbar-spacer"></hr>

        <a href="{{- site.github_url -}}" id="github-link">Github</a>
        <a href="{{- '/resume' | absolute_url -}}" id="resume-link">Resume</a>
        <a href="{{- '/blog' | absolute_url -}}" id="blog-link">Blog</a>
        <a href="{{- '/projects' | absolute_url -}}" id="projects-link">Projects</a>
        <a href="{{- '/apps' | absolute_url -}}" id="apps-link">Apps</a>
    </div>
    {%- include navbutton.html -%}
</nav>
