<button id="navbar-hamburger" class="md:hidden" aria-label="Toggle navigation menu" aria-hidden="true">
    <div class="py-2 flex justify-center">
        <i class="arrow-down" aria-hidden="true">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600" fill="white" width="18px" height="18px"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/></svg> -->
            <svg viewBox="0 0 600 600" width="18px" height="18px">
            <path d="M 100 200 L 300 400 M 500 200 L 300 400" style="stroke-opacity: 0.87; stroke: rgb(255, 255, 255); stroke-width: 70px; stroke-linecap: round;"></path>
            </svg>
        </i>
    </div>
</button>