{%- comment -%}
  Include vars:
	post
{%- endcomment -%}

{%- capture post-url -%}
	{% if include.post.external_url %}
		{{- include.post.external_url -}}
	{% else %}
		{{- include.post.url | relative_url -}}
	{% endif %}
{%- endcapture -%}

{%- capture title -%}
	<a href="{{- post-url -}}">{{- include.post.title -}}</a>
{%- endcapture -%}

{%- capture subtitle -%}
	{% if include.post.subtitle -%}
		{{- include.post.subtitle -}}
	{% endif %}
{%- endcapture -%}

{%- capture metadata -%}
	{% if include.post.author -%}{{- include.post.author }} • {% endif %}<time datetime="{{- include.post.date | date: '%Y-%m-%d' -}}">{{- include.post.date | date: '%B %d, %Y' -}}</time>
{%- endcapture -%}

{%- capture excerpt -%}
	<p>
		{%- if include.post.excerpt-override -%}
			{{- include.post.excerpt-override | strip_html -}}
		{%- else -%}
			{{- include.post.excerpt | strip_html | truncatewords: 100 -}}
		{%- endif -%}
	</p>
{%- endcapture -%}

{%- assign _slug = title | strip_html | slugify | default: 'untitled' -%}

<section id="{{- _slug -}}" class="w-full h-auto shadow-lg rounded flex flex-col">
	<header class="flex flex-col">
		<!-- Cover image -->
		{%- if include.post.cover-photo and include.post.cover-photo-alt -%}
		<div class="">
			<a href="{{- post-url -}}">
				<img class="rounded-t" data-src="{{- include.post.cover-photo -}}" alt="{{- include.post.cover-photo-alt -}}">
			</a>
		</div>
		{%- endif -%}

		<!-- Header text -->
		<div class="flex flex-col p-4">
			<div class="text-2xl lg:text-3xl font-extrabold" style="color:#374151;">{{- title -}}</div>
			<div class="text-lg lg:text-xl font-medium" style="color:#374151;">{{- subtitle -}}</div>
			<div class="">{{- metadata -}}</div>
		</div>
	</header>

	<div class="flex flex-row justify-center">
		<hr class="w-11/12">
	</div>

	<!-- Excerpt -->
	<div class="px-4 py-2 prose lg:prose-xl" style="color:#111827;">
		{{- excerpt -}}
	</div>

	<!-- Bottom link -->
	<div class="w-full">
		<a href="{{- post-url -}}">
			<div class="px-4 pb-4 text-base lg:text-lg">
				{%- if include.post.external_url -%}
				<span class="external-url">Read at {{ include.post.external_site }}</span>
				{%- else -%}
				<span>Read More</span>
				{%- endif -%}
			</div>
		</a>
	</div>

</section>



