{%- comment -%}
  Include vars:
    page

    {% if page.url == include.page.url %} class="active"{% endif %}
{%- endcomment -%}

{%- capture _pageurl -%}
    {{ include.page.url | remove: "/index" | relative_url }}
{%- endcapture -%}

{%- capture _imageurl -%}
    {{ include.page.url | remove: "/index" | append: "/" | append: include.page.cover-image | relative_url }}
{%- endcapture -%}

{%- capture _source_image_path -%}
    {% comment %} This should be the path of the image source file (NOT the URL it'll have in the final website) {% endcomment %}
    {% assign lastComponent = include.page.path | split: "/" | last %}
    {% assign sourcePath = include.page.path | remove: lastComponent %}
    {{ sourcePath | append: include.page.cover-image }}
{%- endcapture -%}

<li>
    <a href="{{ _pageurl }}" aria-label="{{ include.page.title }} - {{ include.page.subtitle }}" tabindex="0">
        <div class="preview-card rounded aspect-container-50-height-100-width nightwind-prevent">
            <div class="aspect-content-50-height-100-width">
            {%- include widgets/lazy-load-image.html image_path=_imageurl source_image_path=_source_image_path -%}
            </div>
            <div class="preview-card-gradient" aria-hidden="true"></div>
            <div class="flex flex-col">
                <span class="preview-card-title text-base 65ch:text-lg">{{ include.page.title }}</span>
                <span class="preview-card-subtitle text-sm 65ch:text-base">{{ include.page.subtitle }}</span>
            </div>
        </div>
    </a>
</li>