<!-- Social Icons -->
{%- if site.github_url -%}
    <div class="icon">
        <a href="{{- site.github_url -}}" aria-label="Github">
            <span class="fab fa-github" title="Github" aria-hidden="true"></span>
        </a>
    </div>
{%- endif -%}

{%- if site.resume -%}
    <div class="icon">
        <a href="{{- site.resume -}}" aria-label="Resume">
            <span class="fas fa-file-alt" title="Resume" aria-hidden="true"></span>
        </a>
    </div>
{%- endif -%}

{%- if site.linkedin_url -%}
    <div class="icon">
        <a href="{{- site.linkedin_url -}}" aria-label="LinkedIn">
            <span class="fab fa-linkedin-in" title="LinkedIn" aria-hidden="true"></span>
        </a>
    </div>
{%- endif -%}

{%- if site.email -%}
    <div class="icon">
        <a href="mailto:{{- site.email -}}" aria-label="Email">
            <span class="fas fa-envelope" title="Email" aria-hidden="true"></span>
        </a>
    </div>
{%- endif -%}

{%- if site.twitter_username -%}
    <div class="icon">
        <a href="{{- 'https://twitter.com/' | append: site.twitter_username -}}" aria-label="Twitter">
            <span class="fab fa-twitter" title="Twitter" aria-hidden="true"></span>
        </a>
    </div>
{%- endif -%}
