{%- comment -%}
  Include vars:
	title
    subtitle
    author
    date
{%- endcomment -%}

{%- capture subtitle -%}
    {%- if include.subtitle -%}
        <h2 class="font-normal" style="margin-top: 0; margin-bottom: 1rem;">{{- include.subtitle -}}</h2>
    {%- endif -%}
{%- endcapture -%}

{%- capture time_tag -%}
    {%- if include.date -%}
        <h3 class="text-gray-500 font-light" style="margin-top: 0; margin-bottom: 2rem;"></h3>
            <time datetime="{{- include.date | date: '%Y-%m-%d' -}}">{{- include.date | date: '%B %d, %Y' -}}</time>
        </h3>
    {%- endif -%}
{%- endcapture -%}

<div class="prose lg:prose-xl mb-8">
    <header>
        <h1 class="" style="margin-top: 0; margin-bottom: 1rem;">{{- include.title -}}</h1>
        {{- subtitle -}}
        {{- time_tag -}}
    </header>
</div>