// Styling for pages
#main-content {
    // overflow: visible;

    z-index: 10;

    // height: 100vh;
    // background-color: white;
    position: relative;

    padding: 1.5rem 2rem;

    @include touch {
        min-height: 100vh;
    }

    .content-inset {
        @include touch {
            // iOS < 11.2
            padding-left: constant(safe-area-inset-left);
            padding-right: constant(safe-area-inset-right);
            padding-top: constant(safe-area-inset-top);
            padding-bottom: constant(safe-area-inset-bottom);

            // iOS 11.2+
            padding-left: env(safe-area-inset-left);
            padding-right: env(safe-area-inset-right);
            padding-top: env(safe-area-inset-top);
            padding-bottom: env(safe-area-inset-bottom);
        }
        @include desktop {
            max-width: 45vw;
        }
    }

    .hero-body {
        padding-top: 0;
        // padding-left: 1.4rem;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1.5rem;

        .title {
            // color: $cyan;
            // border-bottom: 1px solid $cyan;
        }
    }

    a {
        font-weight: bold;
        color: $site-blue;
        
        &:hover, &:focus {
            color: $text;
        }

        &.stand-out {
            text-decoration: underline;
        }
    }

    p, ul, ol, table:not(.rouge-table) {
        // margin-top: 1.0rem;
        margin-bottom: 1.0rem;
    }

    .body {
        h1 {
            font-weight: bold;
            font-size: 2.0rem;
            margin-bottom: 1.0rem;
        }
        h2 {
            font-weight: bold;
            font-size: 1.75rem;
            margin-bottom: 1.0rem;
        }
        h3 {
            font-weight: bold;
            font-size: 1.5rem;
            margin-bottom: 1.0rem;
        }
    }

    // Code highlighting
    .highlight {
        pre {
            padding: 0;
        }
        .rouge-table {
            .gutter {
                padding: 0;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
    
                // Don't allow line numbers to be selected
                -webkit-touch-callout: none;
                -webkit-user-select: none; /* Safari 3.1+ */
                -khtml-user-select: none;
                -moz-user-select: none; /* Firefox 2+ */
                -ms-user-select: none; /* IE 10+ */
                user-select: none; /* Standard syntax */
            }
            .code {
                padding-left: 1.0rem;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
            }
        }
    }

    .cover-photo {
        margin-bottom: 2.0rem;
    }

    // List
    ul {
		list-style: disc;

		&.icons {
			cursor: default;

			li {
				display: inline-block;
			}

			a {
				display: inline-block;
				width: 2em;
				height: 2em;
				line-height: 2em;
				text-align: center;
				border: 0;
			}
		}
	}

	ol {
		list-style: decimal;
    }
    
    // Table (excluding code blocks)
    table:not(.rouge-table) {
		width: 100%;
		text-align: left;

		tbody {
			tr {
				&:nth-child(2n+2) {
					background: #f4f4f4;
				}
			}
		}

		td {
			padding: 0.5em 1em 0.5em 1em;
		}

		th {
			text-align: left;
			padding: 0.5em 1em 0.5em 1em;
			color: #fff;
			background: #222729;// url('images/overlay.png');
		}

		thead {
			background: #444;
			color: #fff;
		}

		tfoot {
			background: #eee;
		}
    }
    
    /* Image */
    .image {
        display: inline-block;
        border: 0;

        img {
            display: block;
            width: 100%;
        }

        &.twelve {
            width: 12vw;
            height: auto;

            @include touch {
                width: 24vw;
            }
        }

        &.cover-photo {
            display: block;
            width: 100%;
        }

        &.avatar48 {
            width: 48px;
            height: 48px;
            background: #f00;

            img {
                width: 48px;
                height: 48px;
            }
        }

        &.fit {
            display: block;
            width: 100%;
        }

        &.featured {
            display: block;
            width: 100%;
            margin: 0 0 2rem 0;
        }

        &.left {
            float: left;
            margin: 0 2rem 2rem 0;
        }

        &.right {
            float: right;
            margin: 0 0 2rem 2rem;
        }

        &.centered {
            display: block;
            margin: 0 0 2rem 0;

            img {
                margin: 0 auto;
                width: auto;
            }
        }
    }



    // Styling specific to blog posts
    .blog-post {

    }

    .blog-card {
        margin-bottom: 1.0rem;
        
        .card-header {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            // $box-shadow: none;
            // $card-shadow: none;
            // $card-header-shadow: none;
            
            background-color: #f9f9f9;

            .blog-card-title a {
                color: hsl(0, 0%, 13%);
                font-size: 1.25rem;
                font-weight: bold;

                &:hover, &:focus {
                    text-decoration: underline;
                }
            }

            .blog-card-subtitle {
                // font-style: italic;
                color: hsl(0, 0%, 29%);
            }
            
            .blog-card-metadata {
                color: hsl(0, 0%, 45%);
            }
        }

        .card-content {
           background-color: #fdfdfd;
        }

    }

    .preview-card {
        position: relative;

        height: 10rem;
        overflow: hidden;
        margin-bottom: 2.0rem;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }

        .preview-card-gradient {
            pointer-events: none;
            
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0.8085609243697479) 0%, rgba(0,0,0,0.81) 38%, rgba(0,0,0,0) 100%);
        }

        .preview-card-title {
            pointer-events: none;

            position: absolute;
            top: 0.5rem;
            left: 1rem;
            font-size: 1.2rem;
            font-weight: bold;

            color: $white;

        }

        .preview-card-subtitle {
            pointer-events: none;
            
            position: absolute;
            top: 2.2rem;
            left: 1rem;

            font-weight: normal;

            color: darken($white, 10%);

        }
    }
    
}