// Contains all styling related to the sidebar and the transformation
// of other content to accomodate it.

$sidebar-width: 10rem;
$sidebar-width-mobile: 13.0rem;

#sidebar {
    
    background-color: white;
    z-index: 15;
    a {
        color: $site-blue;
        &:hover, &:focus {
            color: $text;
        }
    }

    padding: 1.5rem;
    @include touch {
        font-size: 1.5rem;
        position: fixed;
        // margin-top: -$sidebar-width-mobile;
        bottom: 100%;

        text-align: center;

        padding-left: calc(constant(safe-area-inset-left) + 1.5rem);
        padding-right: calc(constant(safe-area-inset-right) + 1.5rem);
        padding-top: 1.5rem;
        padding-bottom: calc(constant(safe-area-inset-bottom) + 1.5rem);

        padding-left: calc(env(safe-area-inset-left) + 1.5rem);
        padding-right: calc(env(safe-area-inset-right) + 1.5rem);
        padding-top: 1.5rem;
        padding-bottom: calc(env(safe-area-inset-bottom) + 1.5rem);

        // @include RightPadIfSafeAreaWithExtra(1.5rem);

        .icon {
            width: 36px;
            height: 36px;
        }

        -webkit-transition: transform 0.5s ease;
        transition: transform 0.5s ease;

        &.show-sidebar {
            transform: translate3d(0, 100%, 0);
            // position: absolute;
        }
    }

    @include desktop {
        position: fixed;
        display: inline-block;
        width: $sidebar-width;

        // Offset to align first link with hero text in content
        padding-top: calc(1.5rem + 7px);

    }
    @include touch {
        // position: relative;
        width: 100vw;
        // height: $sidebar-width-mobile;
        // background-color: $cyan;
        // z-index: 98;
        // border-right: 1px solid $cyan;

    }

    .navbar-spacer {
        border-color: $site-blue-alt;
        background-color: $site-blue-alt;
        @include desktop {
            display: none;
        }
        @include touch {

        }
    }

    .navbar-links {
        .navbar-bullet {
            user-select: none;
            color: $site-blue-alt;
            width: 2rem;
            @include desktop {
                display: none;
            }
        }

        @include touch {
            li {
                display: inline-block;
            }
        }
    }

    hr {
        margin: 0.75rem 0;
    }

}

#main-content {
    // display: inline-block;
    @include desktop {
        margin-left: $sidebar-width;
    }
    @include touch {
        &.section {
            padding-top: 4rem;
            padding-left: 1.0rem;
            padding-right: 1.0rem;
        }
        & {
            -webkit-transition: transform 0.5s ease;
            transition: transform 0.5s ease;
        }

        &.show-sidebar {
            // Displace the content "under" the navbar
            // transform: translate3d(0, 100%, 0);
        }
    }
}

#navbar-hamburger {
    position: absolute;
    top: 100%;
    // left: 0%;
    z-index: 101;
    border-radius: 0px;

    color: $white;
    background-color: $site-blue;
    border: none;

    // left: 50%;
    // width: 100px;
    // margin-left: -50px;

    left: 0;
    width: 100vw;

    padding: 5px;

    padding-left: calc(constant(safe-area-inset-left) + 5px);
    padding-left: calc(env(safe-area-inset-left) + 5px);

    // border-right: 1px solid $cyan;

    i {
        position: absolute;
        right: 20px;
    }

    // padding-right: calc(constant(safe-area-inset-left) + 5px * constant(safe-area-inset-left));
    // padding-right: calc(env(safe-area-inset-left) + 5px * env(safe-area-inset-left));

    @include desktop {
        display: none;
    }

    &:active {
        background-color: $text;
    }

    .fa-arrow-down {
        -webkit-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
        transform: rotate(0deg);

        .show-sidebar & {
            transform: rotate(180deg);
        }
    }
}

#content-darkening {
    @include touch {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 11;

        background-color: rgba($color: #343947, $alpha: 0.0);
        visibility: hidden;

        -webkit-transition: visibility 0.5s, background-color 0.5s ease;
        transition: visibility 0.5s, background-color 0.5s ease;
        
        &.show-sidebar {
            visibility: visible;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            
            background-color: rgba($color: #343947, $alpha: 0.2);
            &:active {
                background-color: rgba($color: #343947, $alpha: 0.2);
            }
        }

        // -webkit-backdrop-filter: blur(0.125rem); /* Safari 6.0 - 9.0 */
        // backdrop-filter: blur(0.125rem);

    }
}