// Contains all styling related to the sidebar and the transformation
// of other content to accomodate it.

$sidebar-width: 10rem;
$sidebar-width-mobile: 15rem;

#sidebar {
    background-color: white;
    z-index: 15;
    a {
        color: $cyan;
        &:hover, &:focus {
            color: $text;
        }
    }

    @include mobile {
        font-size: 1.5rem;
        position: fixed;
        margin-left: -$sidebar-width-mobile;

        .icon {
            width: 36px;
            height: 36px;
        }

        -webkit-transition: transform 0.5s ease;
        transition: transform 0.5s ease;

        &.show-sidebar {
            transform: translate3d($sidebar-width-mobile, 0, 0);
            // position: absolute;
        }
    }
        
    padding: 1.5rem;
    padding-right: 0rem;
    padding-left: calc(constant(safe-area-inset-left) + 1.5rem);
    padding-right: calc(constant(safe-area-inset-right) + 1.5rem);
    padding-top: calc(constant(safe-area-inset-top) + 1.5rem);
    padding-bottom: calc(constant(safe-area-inset-bottom) + 1.5rem);

    padding-left: calc(env(safe-area-inset-left) + 1.5rem);
    padding-right: calc(env(safe-area-inset-right) + 1.5rem);
    padding-top: calc(env(safe-area-inset-top) + 1.5rem);
    padding-bottom: calc(env(safe-area-inset-bottom) + 1.5rem);

    @include tablet {
        position: fixed;
        display: inline-block;
        width: $sidebar-width;
    }
    @include mobile {
        position: fixed;
        width: $sidebar-width-mobile;
        height: 100vh;
        // background-color: $cyan;
        // z-index: 98;
        border-right: 1px solid $cyan;

    }
    .header {
        @include tablet {
            // Offset to align first link with hero text in content
            margin-top: 7px;
        }
    }

}

#main-content {
    // display: inline-block;
    @include tablet {
        margin-left: $sidebar-width;
    }
    @include mobile {
        &.section {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        & {
            -webkit-transition: transform 0.5s ease;
            transition: transform 0.5s ease;
        }

        .fa-arrow-right {
            -webkit-transition: transform 0.5s ease;
            transition: transform 0.5s ease;
            transform: rotate(0deg);
        }

        &.show-sidebar {
            transform: translate3d($sidebar-width-mobile, 0, 0);
            .fa-arrow-right {
                transform: rotate(180deg);
            }
        }
    }
}

#navbar-hamburger {
    position: absolute;
    top: 1.8rem;
    left: 0;
    z-index: 101;
    border-radius: 0px;

    color: $white;
    background-color: $cyan;
    border: none;

    // width: 10px;
    width: 19.63px;
    height: 100px;
    padding: 5px;

    @include tablet {
        display: none;
    }

    &:active {
        background-color: $text;
    }
}

#content-darkening {
    @include mobile {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 11;

        background-color: rgba($color: #343947, $alpha: 0.0);
        visibility: hidden;

        -webkit-transition: visibility 0.5s, background-color 0.5s ease;
        transition: visibility 0.5s, background-color 0.5s ease;
        
        &.show-sidebar {
            visibility: visible;
            background-color: rgba($color: #343947, $alpha: 0.2);

            &:active {
                background-color: rgba($color: #343947, $alpha: 0.2);
            }
        }

    }
}