// Site-level fixes for specific styling problems

* {
    // Prevent double tap to zoom
    // touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    background-color: white;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    touch-action: manipulation;
}

.subtitle:not(.is-spaced) + .subtitle {
    margin-top: -1.5rem;
}

#thursday-button {
    margin-bottom: 1.5rem;

    @include tablet {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
    @include mobile {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    @include vibrate-1;

}

img {
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}

// Fix scrolling and font problems on Safari
.code > pre {
    overflow: visible;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &:focus {
        position: relative;
    }
}