@import "tailwindcss";

/*
theme: {
  extend: {
    // Add new colors
    colors: {
      brand: {
        light: colors.blue[500],
        DEFAULT: '#1fb6ff',
        dark: '#009eeb',
      },
    },

    // Add custom breakpoints
    screens: {
      '65ch': '65ch', // Breakpoint between sm and md. Identifies when the main column has hit its max width.
      'columnbreak': {'raw': '(min-width: 80ch)'}, // Breakpoint for switching from single- to multi-column
      'widescreen': {'raw': '(min-aspect-ratio: 16/8)'}, // Breakpoint for widescreen monitor aspect ratio
      'ultrawide': {'raw': '(min-aspect-ratio: 21/8)'}, // Breakpoint for ultrawide monitor aspect ratio
    },
  },
},
*/

@theme {
  --color-brand-light: var(--color-blue-500);
  --color-brand: #1fb6ff;
  --color-brand-dark: #009eeb;

  /* Custom breakpoints */
  --breakpoint-65ch: 65ch;
}

/* Breakpoints with media queries need to be done this way rather than in @theme */
@custom-variant columnbreak (@media (min-width: 80ch));
@custom-variant widescreen (@media (min-aspect-ratio: 16/8));
@custom-variant ultrawide (@media (min-aspect-ratio: 21/8));

@import "./styling.css";
@import "./typography-colors.css";
@import "./utilities.css";

/* @import "tailwindcss/utilities.css"; */

body {
  @apply bg-neutral-50;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202020 !important;
  }
}