.prose-slate {
    --tw-prose-body: #334155;
    --tw-prose-headings: #0f172a;
    --tw-prose-lead: #475569;
    --tw-prose-links: #0f172a;
    --tw-prose-bold: #0f172a;
    --tw-prose-counters: #64748b;
    --tw-prose-bullets: #cbd5e1;
    --tw-prose-hr: #e2e8f0;
    --tw-prose-quotes: #0f172a;
    --tw-prose-quote-borders: #e2e8f0;
    --tw-prose-captions: #64748b;
    --tw-prose-code: #0f172a;
    --tw-prose-pre-code: #e2e8f0;
    --tw-prose-pre-bg: #1e293b;
    --tw-prose-th-borders: #cbd5e1;
    --tw-prose-td-borders: #e2e8f0;
    --tw-prose-invert-body: #cbd5e1;
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: #94a3b8;
    --tw-prose-invert-links: #fff;
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: #94a3b8;
    --tw-prose-invert-bullets: #475569;
    --tw-prose-invert-hr: #334155;
    --tw-prose-invert-quotes: #f1f5f9;
    --tw-prose-invert-quote-borders: #334155;
    --tw-prose-invert-captions: #94a3b8;
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: #cbd5e1;
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: #475569;
    --tw-prose-invert-td-borders: #334155;
}

@media (prefers-color-scheme: light) {
    .prose-slate p {
        color: var(--tw-prose-body);
    }

    .prose-slate code {
        color: var(--tw-prose-code);
    }

    .prose-slate h2, .prose-slate h3, .prose-slate h4, .prose-slate h5, .prose-slate h6 {
        color: var(--tw-prose-headings);
    }

    .prose-slate strong {
        color: var(--tw-prose-bold);
    }
}

@media (prefers-color-scheme: dark) {
    .prose-slate p {
        color: var(--tw-prose-invert-body);
    }

    .prose-slate code {
        color: var(--tw-prose-invert-code);
    }

    .prose-slate h2, .prose-slate h3, .prose-slate h4, .prose-slate h5, .prose-slate h6 {
        color: var(--tw-prose-invert-headings);
    }

    .prose-slate strong {
        color: var(--tw-prose-invert-bold);
    }
}