/* Fixes for styles provided by global-ish CSS */

/* Tailwind Typography */

/* Fix code samples in blog posts */
.code-snippet .rouge-table .gutter {
    /* Padding between container and left edge of gutter */
    padding-left: 1em !important;
}
.code-snippet .rouge-table td.code {
    /* Add some extra space at the right side of the code itself, gives scroll area some breathing room at end */
    padding-right: 1em;
    /* Add some padding at the left side of the code itself */
    padding-left: 1em;
}
.code-snippet > figure.highlight {
    overflow-x: scroll;
}
.code-snippet .rouge-table {
    /* Control margin from code to vertical edges */
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}

/* End Tailwind Typography */