/* Fixes for styles provided by global-ish CSS */

/* Tailwind Typography ------------------------------ */

/* Fix code samples in blog posts */
.code-snippet .rouge-table .gutter {
    /* Padding between container and left edge of gutter */
    padding-left: 1em !important;
}
.code-snippet .rouge-table td.code {
    /* Add some extra space at the right side of the code itself, gives scroll area some breathing room at end */
    padding-right: 1em;
    padding-left: 0;
}
.code-snippet > figure.highlight {
    overflow-x: scroll;
}
.code-snippet .rouge-table {
    /* Control margin from code to vertical edges */
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}

/* Fix images in preview cards */
.preview-card > img {
    margin-bottom: 0;
}

/* Space between top and bottom of code snippet and its container */
.prose .code-snippet tbody td {
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}

/* -------------------------------------------------- */

@screen 2xl {
    .main-column {
        /* Force the width, taking into account horizontal padding */
        width: calc(65ch + 2.5rem);
    }
}