/* ---------------------------------------------- */
/* Make code snippets break out of column width on large screens. */

.code-snippet {
    /* Reverse page container margin to fit code to device width on small screens */
    @apply -mx-5;
}
/* Prevent fitting to edges when width > 65ch but md breakpoint hasn't been hit (looks better on tablets) */
@screen 65ch {
    .code-snippet {
        @apply m-0;
    }
}
@screen md {
    .code-snippet {
        margin-left: -3rem;
        margin-right: -1rem;
    }
}
@screen lg {
    .code-snippet {
        margin-left: -3rem;
        margin-right: -25rem;
        max-width: calc(100vw - 28rem); /* Just in case our negative right margin runs offscreen */
        min-width: calc(65ch + 3rem);
    }
}

@screen 2xl {
    /* When centered on a sufficiently large screen, apply equal offset on both sides */
    .code-snippet {
        margin-left: -12rem;
        margin-right: -12rem;
        max-width: unset;
        min-width: unset;
    }
}

/* ---------------------------------------------- */

/* Round corners when not fit to width */
@screen 65ch {
    .code-snippet > .highlight {
        @apply rounded;
    }
}

/* Add right-side border to gutter */
/* .code-snippet .gutter {
    @apply border-r;
    @apply border-gray-500;
} */

/* Prevent selection of gutter text */
.code-snippet .gutter {
    @apply select-none;
}