/* external-url.css */
.external-url {
    position: relative;
    @apply text-brand;
}

.external-url:hover::after, .external-url:focus::after {
    @apply bg-brand;
}

.external-url::after {
    content: '';
    position: absolute;
    display: block;
    top: 55%;
    transform: translateY(-50%);

    width: 1em;
    height: 1em;
    right: -1.2em;
    mask-size: cover;
    mask: url('/assets/ui/external_link_icon.svg') no-repeat;

    @apply bg-brand;
}