.preview-card {
    position: relative;

    width: 100%;
    overflow: hidden;
    margin-bottom: 2.0rem;

    @apply bg-opacity-50;
    @apply bg-gray-500;
}

.preview-card img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.preview-card .preview-card-gradient {
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8085609243697479) 0%, rgba(0,0,0,0.81) 38%, rgba(0,0,0,0) 100%);
}

.preview-card .preview-card-title {
    pointer-events: none;

    position: absolute;
    top: 0.5rem;
    left: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;

    @apply text-white;

}

.preview-card .preview-card-subtitle {
    pointer-events: none;

    position: absolute;
    top: 2.2rem;
    left: 1rem;
    right: 1rem;
    font-weight: normal;

    @apply text-gray-200;

}

.nojs .preview-card {
    @apply  text-gray-900;
}

.nojs .preview-card .preview-card-gradient {
    @apply  hidden;
}