.project-container {
    position: relative;
    width: 65ch;
    margin: 1.0rem auto;
    padding-bottom: 100%;
}

.project-container canvas {
    position: absolute;
}

@screen sm {
    .project-container.growable {
        padding-bottom: 85vh;
    }
}

@screen 65ch {
    .project-container.growable {
        padding-bottom: 100%;
    }
}

.project-container.shadowed {
    box-shadow: 0 0 12px 0 hsla(0, 0%, 0%, 0.2);
}