#sidebar {
    z-index: 2000;
    background-color: green;
}
@media(max-width: 767px) {
    #sidebar {
        @apply bg-white;
        transform-origin: top;
        transform: translate3d(0, -100%, 0);
        transition: transform 200ms ease;
    }
    #sidebar.show-sidebar {
        transform: translate3d(0, 0, 0);
    }
}

#navbar-hamburger {
    overflow: visible;
    position: absolute;

    background-color: var(--brand-blue);
    border: none;
    width: 100%;
}

#navbar-hamburger:active {
    background-color: var(--brand-blue);
}

#sidebar #navbar-hamburger .arrow-down svg {
    transition: transform 0.25s ease;
    transform: rotate(0deg);
}

#sidebar.show-sidebar #navbar-hamburger .arrow-down svg {
    transform: rotate(-180deg);
}

.navbar-spacer {
    @apply bg-gray-600;
    margin: 0.25em 0;
}
@media(max-width: 767px) {
    .navbar-spacer {
        width: 25%;
        min-width: 100px;
        margin: 0.25em auto;
    }
}