{% assign wordcount = include.content | strip_html | number_of_words %}
{% assign excerpt = include.excerpt | strip_html | normalize_whitespace | strip_newlines | strip %}

{% if include.image %}
{% capture image_data %}
  "image": {
    "@type":"ImageObject",
    "contentUrl":"{{site.url}}{{ include.image }}",
    "url":"{{site.url}}",
    "height":"{{ include.image | image_height }}",
    "width":"{{ include.image | image_width }}"
  },
{% endcapture %}
{% endif %}

<script defer type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ include.headline }}",
  "description": "{{ excerpt }}",
  "wordCount":"{{ wordcount }}",
  "datePublished":"{{ include.date | date: '%Y-%m-%d' }}",
  "isAccessibleForFree": "True",
  "author": {
    "@type": "Person",
    "name": "Jonathan Cole",
    "givenName": "Jonathan",
    "familyName": "Cole",
    "sameAs":[
      "https://github.com/colejd"
    ]
  },
  "publisher": {
    "@type": "Person",
    "name": "Jonathan Cole",
    "givenName": "Jonathan",
    "familyName": "Cole",
    "sameAs":[
      "https://github.com/colejd"
    ],
    "logo": {
      "@type": "ImageObject",
      "contentUrl": "{{site.url}}/assets/images/avatar.png",
      "url": "{{site.url}}"
    }
  },
  {{ image_data }}
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"{{site.url}}{{ include.link }}"
  }
}
</script>

