<script defer type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Blog",
  "url": "{{site.url}}/blog/",
  "inLanguage": "en-US",
  "headline": "{{ site.title }}",
  "isAccessibleForFree": "True",
  "author": {
    "@type": "Person",
    "name": "Jonathan Cole",
    "givenName": "Jonathan",
    "familyName": "Cole",
    "sameAs":[
      "https://github.com/colejd"
    ],
    "image": {
      "@type": "ImageObject",
      "contentUrl": "{{site.url}}/assets/images/avatar.png",
      "url": "{{site.url}}"
    }
  },
  "publisher": {
    "@type": "Person",
    "name": "Jonathan Cole",
    "givenName": "Jonathan",
    "familyName": "Cole",
    "sameAs":[
      "https://github.com/colejd"
    ],
    "logo": {
      "@type": "ImageObject",
      "contentUrl": "{{site.url}}/assets/images/avatar.png",
      "url": "{{site.url}}"
    }
  }
}
</script>

