{%- comment -%}
  Include vars:
    image_path
        (Path of the image relative to the compiled website's root)
    source_image_path (optional)
        (Path of the image in the build source's root)
        If not specified, image_path is used. The idea is that
        you only specify this parameter if you're not using
        an absolute path that will be the same on the website.
    alt_text (optional)
        (Alt text for the image)
    style (optional)
        (Optional content for the style tag on the image)
{%- endcomment -%}

{% capture image_path %}
    {{ include.image_path }}
{% endcapture %}

{% capture source_image_path %}
    {% if include.source_image_path %}
        {{ include.source_image_path }}
    {% else %}
        {{ include.image_path }}
    {% endif %}
{% endcapture %}

<div style='position: relative; {{ include.style }}'>
    <svg style='{{ include.style }}' viewBox="0 0 {{ source_image_path | image_size_svg }}"></svg>
    <div class='bg-gray-200 opacity-50' style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; '></div>
    <div style='position: absolute; left: 0; top: 0; right: 0; bottom: 0; '>
        <img style='margin: 0 auto; {{ include.style }}' data-src='{{ image_path }}' alt='{{ alt_text }}' />
    </div>
</div>