<div class="flex flex-row" style="margin-bottom: 0.8888889em;">
    <div class="flex flex-col">
        <h1 class="" style="margin-bottom: 0;">Hi, I'm Jon.</h1>
        <span>
        <a href="{{- site.github_url -}}">Github</a>   •   <a href="{{- '/resume' | relative_url -}}">Resume</a>   •   <a href="mailto:{{- site.email -}}">Email</a>
        </span>
    </div>
    <div class="ml-4">
        <img class="h-16 md:h-12 lg:h-20" style="width:auto;margin-top:0;margin-bottom:0;" data-src="/assets/images/posterized_compressed.png" alt="Jon's face.">
    </div>
</div>