.main-column-interior {
  max-width: 65ch;
}

/* desired width + column padding + sidebar width + sidebar padding + magic number because I don't know anymore */
@media (min-width: calc(65ch + 2.5rem + 2.5rem + 7rem + 10rem)) {
  .main-column-interior {
    width: 65ch;
  }
}

.main-column {
  /* Fix flexbox being blown out by <pre>. See https://css-tricks.com/preventing-a-grid-blowout/ */
  min-width: 0;
}