---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}

<!-- Title -->
<div class="prose lg:prose-xl">
	{%- include title.html title=page.title subtitle=page.subtitle -%}
</div>

<!-- Content above post list -->
{%- if page.content != "" -%}
	<div class="prose lg:prose-xl">
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	</div>
{%- endif -%}

<!-- Posts List -->
<div class="flex flex-col space-y-10">
	{%- for _post in _posts -%}
		{%- if _post.unlisted != true  -%}
			{%- include post-preview.html post=_post -%}
		{%- endif -%}
	{%- endfor -%}
</div>