<!DOCTYPE HTML>

<html lang="en" class="no-js">

	{%- include head.html -%}

	<body>
		<!-- Center everything when using an wide enough monitor -->
		<div class="w-full md:flex md:flex-row md:justify-center">

			<div class="flex flex-col">
				{%- include nav.html -%}

				<div class="main-column fades flex-grow mx-5 my-8 mb-20" style="max-width:65ch;" aria-label="Main Content">
					<div class="flex flex-col">
						<main id="main-content">
							{{- content -}}
						</main>
						{%- include footer.html -%}
					</div>
				</div>

			</div>
		</div>

		{%- include loadlate.html -%}
	</body>

</html>