<!DOCTYPE HTML>

<html lang="en" class="no-js">

	{%- include head.html -%}

	<body>

		<!-- Add skip-to-content button for users with screen readers. Should be first link on every page. -->
		<a class="sr-only focus:not-sr-only md:top-2 md:left-2" style="position:absolute !important;" href="#main-content">Skip to main content</a>

		<div class="flex flex-col md:flex-row">
			{%- include nav.html -%}

			<div id="content-darkening" aria-hidden="true"></div>

			<main id="main-content" class="section fades fade-in-on-load flex-grow" aria-label="Main Content">
				<div class="px-5 py-8" style="max-width:65ch;">
					{{- content -}}
					{%- include footer.html -%}
				</div>
			</main>

		</div>

		{%- include loadlate.html -%}
	</body>

</html>