---
layout: default
---

{%- capture excerpt -%}
	{%- if page.excerpt-override -%}
		{{- page.excerpt-override | strip_html -}}
	{%- else -%}
		{{- page.excerpt | strip_html | truncatewords: 100 -}}
	{%- endif -%}
{%- endcapture -%}

{%
	include widgets/blog-post-schema.html
	content=page.content
	headline=page.title
	excerpt=excerpt
	date=page.date
	link=page.url
	image=page.cover-photo
%}

<!-- Blog Post -->
<article>
	{%- include blog-title.html title=page.title subtitle=page.subtitle date=page.date author=page.author -%}

	<div class="prose lg:prose-xl">
		{%- if page.cover-photo and page.cover-photo-alt -%}
			{%- include widgets/lazy-load-image.html image_path=page.cover-photo alt_text=page.cover-photo-alt -%}
		{%- endif -%}

		{{- content -}}
	</div>
</article>