---
layout: default
---

<!-- Main -->

{%- if page.cover-photo and page.cover-photo-alt -%}
	{%- capture photo -%}
        <div class="image is-2by1 cover-photo">
            <img data-src="{{- page.cover-photo -}}" alt="{{- page.cover-photo-alt -}}">
        </div>
	{%- endcapture -%}
{%- else -%}
	{%- assign photo = '' -%}
{%- endif -%}

<!-- Post -->


<article class="blog-post prose lg:prose-xl">
	{%- include blog-title.html title=page.title subtitle=page.subtitle date=page.date author=page.author -%}
	{{- photo -}}
	<div class="body">
		{{- content -}}
	</div>
</article>